<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.payhere.account.board.mapper.BoardMapper">
    <select id="boardCount" resultType="int">
      SELECT COUNT(*)
       FROM BOARD
      WHERE USER_ID = #{userId}
        AND STS IN ('C','U')
    </select>

    <select id="boardList" resultType="com.payhere.account.board.domain.BoardVO">  
        SELECT * 
         FROM BOARD
        WHERE USER_ID = #{userId}


    </select>        
  
    <select id="boardDetail" parameterType="int" resultType="com.payhere.account.board.domain.BoardVO"> 
      SELECT *
       FROM BOARD        
       WHERE BNO = #{bno}    
       
    </select>        
      
    <insert id="boardInsert" parameterType="com.payhere.account.board.domain.BoardVO">        
      INSERT 
       INTO BOARD (SUBJECT,typea,amount,REG_DATE)
      VALUES(#{subject},#{typea},#{amount},now())
    </insert>        
  
    <update id="boardUpdate" parameterType="com.payhere.account.board.domain.BoardVO">        
      UPDATE BOARD            
        SET 
        <if test="subject != null">
         SUBJECT = #{subject}        
        </if>
        <if test="subject != null and content != null">,</if> 
        <if test="content != null">
         CONTENT = #{content}        
        </if>
       WHERE BNO = #{bno}
    </update>

    <delete id="boardDelete" parameterType="int">
        DELETE
         FROM BOARD
        WHERE BNO = #{bno}
    </delete>
    </mapper>
