<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
    <title>board</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"></link>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <h2>!!! 로그인 실패 !!!</h2>
    <button type="button" onclick="location.href='loginPage'">돌아가기</button>
</div>
</body>
</html>