<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">

<head>
    <title>board</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"></link>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<style>
    body{
        text-align: center;
    }
</style>
<body>

<div class="container">
    <div class="col-xs-12" style="margin:15px auto;">
        <label style="font-size:20px;"><span class="glyphicon glyphicon-edit"></span>수정</label>
    </div>

    <div class="col-xs-12">
        <form action="/updateProc" method="post">
            <div>
                <label>날짜</label>
                <input type="text" name="useDate" th:value="${detail.useDate}" placeholder="YYYYMMDD">
            </div>
            <div>
                <label>Type</label>
                <input type="text" name="typea" th:value="${detail.typea}">
            </div>
            <div>
                <label>금액 </label>
                <input type="number" th:value="${detail.amount}" name="amount">
            </div>
            <div>
                <label>내용</label>
                <input type="text" name="subject" th:value="${detail.subject}">
            </div>
            <div>
                <label>상세</label>
                <textarea name="content" th:text="${detail.content}" rows="5"></textarea>
            </div>

            <input type="hidden" name="bno" th:value="${bno}"/>
            <button type="submit" class="btn btn-primary">수정</button>
        </form>
    </div>
</div>
</body>
</html>
</layoutTag:layout>

